# build artifact
/**/out

# document
/docs/_build
/docs/_static
/docs/_templates
/docs/.venv
/docs/conf.py
/html/

# nanoem
/nanoem/nanoem.cc

# emapp
/emapp/plugins/PEPlugin/bin
/emapp/plugins/PEPlugin/obj
/emapp/resources/translations/*/all.txt
/emapp/resources/translations/*/merge.pl

# manual checkout
/dependencies/ffmpeg
/dependencies/glfw
/dependencies/icu
/dependencies/libsoundio
/dependencies/optick
/dependencies/yaml-cpp

# rust
/rust/**/target
/**/*.rs.bk

# macOS System Cache
.DS_Store

# build result
/build
/CMakeFiles
cmake_install.cmake
CMakeCache.txt
CMakeScripts/ReRunCMake.make
CPackConfig.cmake
CPackSourceConfig.cmake
/macOS/CMakeFiles
nanoem.xcodeproj
nanoem/version.c
/sapp/CMakeFiles